<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon - Capstone </title>
</head>
<body>
     <!-- Logo Image is a static file, hence you must call the load static from django template language-->
     {% load static%}
     <img src="{% static 'restaurant/be-guru.png' %}" alt="Logo">
    <h1 style="text-align:center;">Welcome To The Back-End Guru's Restaurant</h1>
   
    
</body>
</html>



